
<!-- Layout wrapper -->
<div class="layout-wrapper">
    
    {{> header }}

    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- begin::navigation -->
          {{> sidenav }}
        <!-- end::navigation -->

        <!-- Content body -->
        <div class="content-body">
            <!-- Content -->
            <div class="content">
                  <div class="page-header d-flex justify-content-between">
                    <h2>Data Analytics</h2>
                    
                  </div>
                  <div class="col-md-10">
                    <div class="card">
                      <div class="card-header">
                        <h3>Select Report Type</h3>
                      </div>
                      <div class="card-body">
                        <div class="form-group">
                          <select class="form-control col-md-3" id="report-type">
                            <option value = "0">Select a report type</option>
                            <option value = "1">Documents per month</option>
                            <option value = "2">Document per users</option>
                          </select>
                        </div>
                        <div class="form-group" id="report-type-1">
                          <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-bdms-hraoz/embed/charts?id=d6941e3d-9a90-490e-ac70-1ca2a4a16fdc&maxDataAge=3600&theme=light&autoRefresh=false"></iframe>
                        </div>  
                        <div class="form-group" id="report-type-2">
                           <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-bdms-hraoz/embed/charts?id=1941456c-2bb2-4a76-8152-7fbeecf76b99&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
                        </div>                    
                      </div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-xl-12">
                          
                         
                      </div>
                  </div>

            </div>
            <!-- ./ Content -->

            <!-- Footer -->

             {{> footer }}
            
            <!-- ./ Footer -->
        </div>
        <!-- ./ Content body -->

        <!-- Sidebar group -->
        
         {{> sidebar }}

        <!-- ./ Sidebar group -->
    </div>
    <!-- ./ Content wrapper -->
</div>
<!-- ./ Layout wrapper -->


<!-- Datatable -->
<script src="/vendors/dataTable/datatables.min.js"></script>

<!-- Jstree -->
<script src="/vendors/jstree/jstree.min.js"></script>

<!-- Files page examples -->
<script src="/assets/js/examples/files.js"></script>

<!-- App scripts -->
<script src="/assets/js/app.min.js"></script>






