
  <div class="form-membership">
    <div class="form-wrapper">
      <div>
          <h1 class="display-5">Blockchain Document Management System</h1>
          <p class="lead">Sistema de administración de documentos descentralizado.</p>
          <hr class="my-4">
          <p>Tiene por finalidad mejorar el proceso de gestión de
          documentación digital dentro de las organizaciones, mediante el uso de almacenamiento
          descentralizado soportado por la tecnología blockchain. Asegurando la integridad de la
          información durante todo el ciclo de vida del documento..
          </p>
    </div>
    </div>
</div>