<!-- Layout wrapper -->
<div class="layout-wrapper">
    
    {{> header }}


    <!-- Content wrapper -->
    <div class="content-wrapper">
        
        <!-- begin::navigation -->
        
        {{> sidenav }}
        
        <!-- end::navigation -->

        <!-- Content body -->
        <div class="content-body">
            <!-- Content -->
            <div class="content">

                 {{> messages }}
                 {{> errors }}
                    
                <div class="row">
                    <div class="col-md-8">
                        <h4>Uso semanal</h4>
                        <div id="daily-usage"></div>
                          <input id="usage" hidden="hidden" value="{{recentDocs}}">
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="row mb-4">
                                    <div class="col-md-8 offset-md-2">
                                        <img src="/assets/media/svg/report.svg" class="img-fluid" alt="report">
                                    </div>
                                </div>
                                <h4 class="my-3">Ultimos documentos subidos</h4>
                                <p class="text-muted">En el gráfico se puede observar los documentos almacenados en los ultimos 7 dias.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content-title d-flex justify-content-between">
                    <h4>Recent Files</h4>
                    <a href="#">View All</a>
                </div>
                <input type="text" value="{{arrCountDoc}}" id="recent-dates" hidden>
                <div class="mb-4">
                    <div class="table-responsive">
                        <table class="table table-borderless table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Size</th>
                                    <th>Modified</th>
                                    <th>CID Filecoin</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--  Recent files iterator -->
                                {{#each recentDocs}}
                                    <tr>
                                        <td>
                                            <a href="#">
                                                <figure class="avatar avatar-sm mr-2">
                                                    <span class="avatar-title bg-warning text-black-50 rounded-pill">
                                                        <i class="ti-folder"></i>
                                                    </span>
                                                </figure>
                                                {{ filename }}
                                            </a>
                                        </td>
                                        <td>{{ size }}</td>
                                        <td>{{ formatDate date }}</td>
                                        <td>
                                            <div class="badge bg-warning-bright text-warning">{{ urlHash }}</div>
                                        </td>
                                        <td> 
                                        </td>
                                    </tr>
                                 {{else}}
                                    <tr>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                    </tr>
                                 {{/each}}
                                 <!-- ./ Recent files iterator -->
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- ./ Content -->

            <!-- Footer -->

             {{> footer }}
            
            <!-- ./ Footer -->
        </div>
        <!-- ./ Content body -->

        <!-- Sidebar group -->
        
         {{> sidebar }}
        
        <!-- ./ Sidebar group -->
    </div>
    <!-- ./ Content wrapper -->
</div>
<!-- ./ Layout wrapper -->