
  <div class="form-membership">
    <div class="form-wrapper">
          <p class="lead">Sistema de administración de documentos descentralizado.</p>
          <hr class="my-4">
          <ul class="list-unstyled">
  <li>Tiene por finalidad mejorar el proceso de gestión de
          documentación digital dentro de las organizaciones.</li>
  <li>Beneficios:
    <ul>
      <li>Almacenamiento descentralizado soportado por la tecnología blockchain</li>
      <li> Asegurando la integridad de la información meidiante smart contract.</li>
      <li>Generando reportes de uso mediante Analitica de datos</li>
    </ul>
  </li>
    </div>
</div>