body {
  background: #233779; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e2e2e2,
    #3252bb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e2e2e2,
    #485685
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: url(/assets/media/image/blue-dark-background.jpg);
}

#form-membership {
  background: #233779; /* fallback for old browsers */  
}

.logo {
  width: 30%;
}
