{{#if error }}
    <div class="alert alert-danger alert-dismissible" role="alert">
      {{error}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <i class="ti-close"></i>
    </button>
  </div>
{{/if}}

{{#each errors}}
 <div class="alert alert-danger alert-dismissible" role="alert">
      {{text}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <i class="ti-close"></i>
    </button>
  </div>
  
{{/each}}
