<footer class="content-footer d-print-none">
    <div>© 2021 Blochain Document Management System<a href="http://laborasyon.com" target="_blank"></a></div>
    <div>
        <nav class="nav">
            <a href="https://themeforest.net/licenses/standard" class="nav-link">Licenses</a>
            <a href="#" class="nav-link">Change Log</a>
            <a href="#" class="nav-link">Get Help</a>
        </nav>
    </div>
</footer>