<div class="sidebar-group d-print-none">
    <!-- Sidebar - Storage -->
    <div class="sidebar primary-sidebar show" id="storage">
        <div class="sidebar-header">
            <h4>Plan asignado</h4>
        </div>
        <div class="sidebar-content">
            <div class="pricing-table card">
                <div class="card-body">
                {{#ifEquals user.role "619c1d6c59a7b5125ecdd6d9"}}
                    <h6 class="mb-3 text-uppercase font-size-11 text-center">Starter Admin</h6>
                 {{/ifEquals}}
                {{#ifEquals user.role "619c1d6c59a7b5125ecdd6d8"}}
                    <h6 class="mb-3 text-uppercase font-size-11 text-center">Starter User</h6>
                {{/ifEquals}}
                                    
                    <h1 class="mb-3 font-weight-bold text-center">
                        Gratis
                    </h1>
                    <div>
                        <ul class="my-4 list-group list-group-flush">
                            <li class="px-0 list-group-item d-flex align-items-center">
                                <span class="icon-block mr-3 bg-success icon-block-xs icon-block-floating">
                                    <i class="ti-check"></i>
                                </span>
                                Almacenamiento en IPFS.
                            </li>
                            <li class="px-0 list-group-item d-flex align-items-center">
                                        <span class="icon-block mr-3 bg-success icon-block-xs icon-block-floating">
                                            <i class="ti-check"></i>
                                        </span>
                                Descarga de Documentos.
                            </li>
                            <li class="px-0 list-group-item d-flex align-items-center">
                                        <span class="icon-block mr-3 bg-success icon-block-xs icon-block-floating">
                                            <i class="ti-check"></i>
                                        </span>
                                Soporte gratuito.
                            </li>
                            <li class="px-0 list-group-item d-flex align-items-center">
                                        <span class="icon-block mr-3 bg-success icon-block-xs icon-block-floating">
                                            <i class="ti-check"></i>
                                        </span>
                                Integracion via API.
                            </li>
                            {{#ifEquals user.role "619c1d6c59a7b5125ecdd6d9"}}
                                <li class="px-0 list-group-item d-flex align-items-center">
                                            <span class="icon-block mr-3 bg-success icon-block-xs icon-block-floating">
                                                <i class="ti-check"></i>
                                            </span>
                                    Reportes de Uso.
                                </li>
                            {{/ifEquals}}
                            <li class="px-0 list-group-item d-flex align-items-center">
                                        <span class="icon-block mr-3 bg-danger icon-block-xs icon-block-floating">
                                            <i class="ti-close"></i>
                                        </span>
                                Archivado Inteligente
                            </li>
                            <li class="px-0 list-group-item d-flex align-items-center">
                                        <span class="icon-block mr-3 bg-danger icon-block-xs icon-block-floating">
                                            <i class="ti-close"></i>
                                        </span>
                                Pagos en criptomonedas.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
    <!-- ./ Sidebar - Storage -->

    <!-- Sidebar - File info -->
    <div class="sidebar" id="view-detail">
        <div class="sidebar-header">
            <h4>View Detail</h4>
            <a href="#" class="btn btn-light btn-floating sidebar-close-btn">
                <i class="ti-angle-right"></i>
            </a>
        </div>
        <div class="sidebar-content">
            <figure class="avatar mb-4">
                <span class="avatar-title bg-info-bright text-info rounded-pill">
                    <i class="ti-file"></i>
                </span>
            </figure>
            <div class="row mb-3">
                <div class="col-md-5">File name:</div>
                <div class="col-md-7"><a href="#" class="link-1">Meeting-notes.doc</a></div>
            </div>
            <div class="row mb-3">
                <div class="col-md-5">File type:</div>
                <div class="col-md-7">Word File</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-5">File size:</div>
                <div class="col-md-7">22 KB</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-5">Created:</div>
                <div class="col-md-7">Monday, July 02, 2020 9:34am</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-5">Modified:</div>
                <div class="col-md-7 text-success">Monday, July 02, 2020 9:34am</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-5">Accessed:</div>
                <div class="col-md-7">Monday, July 03, 2020 10:22am</div>
            </div>
        </div>
        <div class="sidebar-footer">
            <button class="btn btn-lg btn-block btn-primary">
                <i class="ti-share mr-3"></i> Share
            </button>
        </div>
    </div>
    <!-- ./ Sidebar - file info -->

    <!-- Sidebar - Settings -->
    <div class="sidebar" id="settings">
        <div class="sidebar-header">
            <h4>Settings</h4>
            <a href="#" class="btn btn-light btn-floating sidebar-close-btn">
                <i class="ti-angle-right"></i>
            </a>
        </div>
        <div class="sidebar-content">
            <ul class="list-group list-group-flush">
                <li class="list-group-item pl-0 pr-0">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                        <label class="custom-control-label" for="customSwitch1">Allow notifications.</label>
                    </div>
                </li>
                <li class="list-group-item pl-0 pr-0">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch2">
                        <label class="custom-control-label" for="customSwitch2">Hide user requests</label>
                    </div>
                </li>
                <li class="list-group-item pl-0 pr-0">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch3" checked>
                        <label class="custom-control-label" for="customSwitch3">Speed up demands</label>
                    </div>
                </li>
                <li class="list-group-item pl-0 pr-0">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch4" checked>
                        <label class="custom-control-label" for="customSwitch4">Hide menus</label>
                    </div>
                </li>
                <li class="list-group-item pl-0 pr-0">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch5">
                        <label class="custom-control-label" for="customSwitch5">Remember next visits</label>
                    </div>
                </li>
                <li class="list-group-item pl-0 pr-0">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch6">
                        <label class="custom-control-label" for="customSwitch6">Enable report
                            generation.</label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- ./ Sidebar - Settings -->
</div>