<div class="navigation">
            <div class="logo">
                <a  href="/dashboard">
                    <img src="/assets/media/image/logo.png" alt="logo">
                </a>
            </div>
            <ul>
                <li>
                    <a  href="/dashboard">
                        <i class="nav-link-icon ti-pie-chart"></i>
                        <span class="nav-link-label">Dashboard</span>
                        <span class="badge badge-danger badge-small">2</span>
                    </a>
                </li>
                <li>
                    <a  href="/documents">
                        <i class="nav-link-icon ti-file"></i>
                        <span class="nav-link-label">Archivos</span>
                    </a>
                </li>
                {{#ifEquals user.role "619c1d6c59a7b5125ecdd6d9"}}
                    <li>
                        <a  href="/data-analytics">
                            <i class="nav-link-icon ti-pulse"></i>
                            <span class="nav-link-label">Reportes</span>
                        </a>
                    </li>

                    <li>
                        <a  href="/users">
                            <i class="nav-link-icon ti-user"></i>
                            <span class="nav-link-label">Usuarios</span>
                        </a>
                    </li>
                 {{/ifEquals}}
            </ul>
        </div>