<!-- Layout wrapper -->
<div class="layout-wrapper">
    
    {{> header }}

    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- begin::navigation -->
          {{> sidenav }}
        <!-- end::navigation -->

        <!-- Content body -->
        <div class="content-body">
            <!-- Content -->
            <div class="content">

            {{#if error }}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{error}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {{/if}}

            {{#each errors}}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{text}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {{/each}}

            <div class="col-md-10 mx-auto">
              <div class="card text-center">
                <div class="card-header">
                  <h3>Nuevo Documento</h3>
                </div>
                <div class="card-body">
                  <form action="/documents/new-document" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                      <input type="text" name="title" class="form-control" placeholder="Nombre" autofocus/>
                    </div>
                    <div class="form-group">
                      <textarea name="description" class="form-control" placeholder="Descripcion"></textarea>
                    </div>
                    <div class="form-group">
                      <input type="file" name="file" class="form-control" placeholder="Sube un documento"/>
                    </div>
                    <div class="form-group">
                      <button class="btn btn-primary btn-lg" type="submit">
                        Guardar
                      </button>
                      <button class="btn btn-danger btn-lg" type="button">
                        Volver
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

          </div>
          <!-- ./ Content -->

          <!-- Footer -->

            {{> footer }}
          
          <!-- ./ Footer -->
      </div>
      <!-- ./ Content body -->

      <!-- Sidebar group -->
      
        {{> sidebar }}

      <!-- ./ Sidebar group -->
  </div>
  <!-- ./ Content wrapper -->
</div>
<!-- ./ Layout wrapper -->
