<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Blockchain Document Management System</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/media/image/favicon.png"/>

    <!-- Main css -->
    <link rel="stylesheet" href="/vendors/bundle.css" type="text/css">

    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">

    <!-- App css -->
    <link rel="stylesheet" href="/assets/css/app.min.css" type="text/css">

    <!-- Main scripts -->
    <script src="/vendors/bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.4/raphael-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/justgage/1.2.9/justgage.min.js"></script>

     <!-- quill -->
    <link href="/vendors/quill/quill.snow.css" rel="stylesheet" type="text/css">
    <!-- quill -->
    <link href="/vendors/jstree/themes/default/style.min.css" rel="stylesheet" type="text/css">

    <!-- Clockpicker -->
    <link rel="stylesheet" href="/vendors/clockpicker/bootstrap-clockpicker.min.css" type="text/css">

    <!-- Datepicker -->
    <link rel="stylesheet" href="/vendors/datepicker/daterangepicker.css" type="text/css">

    <!-- Datatable -->
    <link rel="stylesheet" href="/vendors/dataTable/datatables.min.css" type="text/css">

    <!-- Select2 -->
    <link rel="stylesheet" href="/vendors/select2/css/select2.min.css" type="text/css">

    <!-- App css -->
    <link rel="stylesheet" href="/assets/css/app.min.css" type="text/css">

    <!-- Css -->
    <link rel="stylesheet" href="vendors/dropzone/dropzone.css" type="text/css">

    <!-- Javascript -->
    <script src="vendors/dropzone/dropzone.js'"></script>

    <script>

      $(document).ready(function(){
        $("#report-type-1").hide();
        $("#report-type-2").hide();

        $('#report-type').on('change', function() {
          if ( this.value == '1') {
            $("#report-type-2").hide();
            $("#report-type-1").show();
          }
           if ( this.value == '2') {
            $("#report-type-1").hide();
            $("#report-type-2").show();

          }
           
        });
      });


    </script>


  </head>
  
  {{#if user}}
    <body>
        {{> navigation }}
        
        <!-- Preloader -->
        <div class="preloader">
            <div class="preloader-icon"></div>
        </div>
        <!-- ./ Preloader -->

        {{{ body }}}

        <!-- Scritps -->
        <!-- Apex chart -->
        <script src="https://apexcharts.com/samples/assets/irregular-data-series.js"></script>
        <script src="/vendors/charts/apex/apexcharts.min.js"></script>
        <!-- Dashboard scripts -->
        <script src="/assets/js/examples/pages/file-dashboard.js"></script>
        <!-- App scripts -->
        <script src="/assets/js/app.min.js"></script>

    </body>
  
  {{else}}
         
<body class="form-membership" style="background: url(/assets/media/image/blue-dark-bakground.jpg)">
       {{> navigation }}
      {{{ body }}}

    </body>

  
  
  {{/if}}



</html>
