<div class="form-wrapper">

    <!-- logo -->
    <div id="logo">
        <img src="/assets/media/image/logo-dark.png" alt="image">
    </div>
    <!-- ./ logo -->

    
    <h5>Crear usuario</h5>

    <!-- form -->
    <form action="/users/signup" method="POST">

      <div class="form-group">
          <input type="text" class="form-control" name="name" placeholder="Nombre" value="{{name}}">
      </div>
      <div class="form-group">
          <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}">
      </div>
      <div class="form-group">
          <input type="password" class="form-control" name="password" placeholder="Password" value="{{password}}">
      </div>
      <div class="form-group">
          <input type="password" class="form-control" name="confirm_password" placeholder="Confirmar Password" value="{{confirm_password}}">
      </div>
          
      <button class="btn btn-primary btn-block">Registrarse</button>
      <hr>
        {{> messages }}
        {{> errors }}
      <p class="text-muted">Ya tienes usuario?</p>
      <a href="/users/signin" class="btn btn-outline-light btn-sm">Login!</a>
    </form>
    <!-- ./ form -->


</div>
