
<div class="form-membership">
    <div class="form-wrapper">

        <!-- logo -->
        <div id="logo">
            <img src="/assets/media/image/logo-dark.png" alt="image">
        </div>
        <!-- ./ logo -->

        <h5>Authenticación de usuario</h5>

        <!-- form -->
        <form action="/users/signin" method="POST">
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email" autofocus>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button class="btn btn-primary btn-block">Login</button>
            <hr>
            {{> messages }}
            {{> errors }}
            <p class="text-muted">No tienes usuario?</p>
            <a href="/users/signup" class="btn btn-outline-light btn-sm">Registrarte!</a>

            
        </form>
        <!-- ./ form -->

    </div>
</div>
            


